<div class="col-lg-6">
  <h4>Resources</h4>
  <ul>
    <%= if @current_user do %>
      <li>
        <a href="/private">Private</a>
      </li>
    <%= end %>
    <li>
      <a href="/public">Public</a>
    </li>
  </ul>
</div>

<%= if @current_user && @current_user.is_admin do %>
  <div class="col-lg-6">
    <h4>Admin</h4>
    <ul>
      <li>
        <a href="/admin/users">Users</a>
      </li>
    </ul>
  </div>
<%= end %>
